{% extends "base.html" %}

{% block page_header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{url_for('static',filename='img/about-bg.jpg')}}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block page_content %} 
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           I'm interested in many things such as music, reading novels, watching movies. I love to read love stories and suspense thrillers. I wanna improve my English skills. I'm glad to have here. My other hobbies including being with my friends. 
I'm personally interested in becoming an , however, there are many different career opportunities. I believe that a job should be like a hobby. 
It takes a long time to study an animation course. It is very difficult and requires a tremendous amount of patience and hard work. I hope that I'll be able to meet these challenges, and that my dream will come true. 
As for now I'm only focusing my attention on enjoyment. I'm being my true self with the values, dreams and goals that I have........ 
so this is 'Me' standing infront of all of you. Thank you......
	</div>
      </div>
    </div>

    <hr>
{% endblock %}
